<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>FStreamSkin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>skin.icns</string>
			<key>CFBundleTypeName</key>
			<string>PureSkin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>FSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>FStreamPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>plugin.icns</string>
			<key>CFBundleTypeName</key>
			<string>PlugIn</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>FSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m3u.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mpegurl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>M3U</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pls.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-scpls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PLS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>asx.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-ms-asf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ASX</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>FSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>FStream</string>
	<key>CFBundleGetInfoString</key>
	<string>FStream 1.4.2, © 2005-2008 SourceMac.com</string>
	<key>CFBundleHelpBookFolder</key>
	<string>FStreamHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>FStream Help</string>
	<key>CFBundleIconFile</key>
	<string>FStream.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.SourceMac.FStream</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FStream</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SmFs</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>FStream WebRadio URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fsradio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4.2</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>FStream.sdef</string>
</dict>
</plist>
